@model List<CategoryViewModel>

<div>

    @foreach (var category in Model)
    {
        <a style="margin:0.5rem;" asp-controller="SubCategory" asp-action="AddSubCategory" asp-route-id="@category.Category.Id"><button>Add SubCategory to @category.Category.Title</button></a>

        @foreach (var subCategory in category.SubCategories)
        {
            <div style="display:flex; flex-direction:row; ">
                <h2 style="color:black">@subCategory.Title</h2>
                <a style="margin:0.5rem;" asp-controller="SubCategory" asp-action="DeleteSubCategory" asp-route-id="@subCategory.Id"><button>Delete</button></a>
                <a style="margin:0.5rem;" asp-controller=" SubCategory" asp-action="UpdateSubCategory" asp-route-id="@subCategory.Id"><button>Update</button></a>
            </div>
        }
    }
</div>
@* @foreach (var category in Model)
{
    <h2>@category.Category.Title</h2>
    @foreach (var sub in category.SubCategories)
    {
        <div><p style="margin-left:1rem;">@sub.Title</p></div>
    }
} *@
