@using TrainingForumIdentity.Models
@model RoleAdminViewModel
@{
    ViewData["Title"] = "RoleAdmin";
}

<h1>RoleAdmin</h1>

<table class="table table-striped">
    <tr>
        <th>Username</th>
        @foreach (var role in Model.Roles)
        {
            <th>@role.Name</th>
        }
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.UserName</td>
            @foreach (var role in Model.Roles)
            {
                if (await Model.UserManager.IsInRoleAsync(user, role.Name))
                {
                    <td>
                        <form method="post" asp-action="ModifyRole">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="removeUserId" value="@user.Id" />
                            <input type="hidden" name="roleName" value="@role.Name" />
                            <button type="submit" class="btn btn-link p-0">Yes</button>
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <form method="post" asp-action="ModifyRole">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="addUserId" value="@user.Id" />
                            <input type="hidden" name="roleName" value="@role.Name" />
                            <button type="submit" class="btn btn-link p-0">No</button>
                        </form>
                    </td>
                }
            }
        </tr>
    }
</table>

<form method="post">
    @Html.AntiForgeryToken()
    <label for="roleName">New role name</label>
    <input type="text" name="roleName" />
    <input type="submit" value="Create new role" />
</form>
